@model UtopiaCity.Models.PublicTransport.BusRoute

@{
    ViewData["Title"] = "DetailsBusRouteView";
}

<h1>DetailsBusRouteView</h1>

<div>
    <h4>BusRoute</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalStation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalStation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusStops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusStops)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
