@using UtopiaCity.TagHelpers
@model IEnumerable<UtopiaCity.Models.PublicTransport.BusRoute>

@{
	ViewData["Title"] = "ListBusRouteView";
}

<h1>ListBusRouteView</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.StartStation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FinalStation)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BusStops)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BusQuantity)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.StartStation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FinalStation)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BusStops)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BusQuantity)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
